@tailwind base;
@tailwind components;
@tailwind utilities;

.class-for-li-a {
    @apply px-4 py-2 block hover:bg-slate-600 hover:text-gray-300 font-semibold;
}
  
/* For any animation to take place only upto the width of 768px */
@media screen and (max-width: 767px){
    .side-popup-show{
        animation: side-popup-show 0.25s linear;
        animation-fill-mode: forwards;
    }
    .side-popup-hide{
        animation: side-popup-hide 0.25s linear;
        animation-fill-mode: forwards;
    }

    @keyframes side-popup-show{
        0%{
            left: -160px;
        }
        100%{
            left: 0;
        }
    }
    @keyframes side-popup-hide{
        0%{
            left: 0;
        }
        100%{
            left: -160px;
        }
    }
}

/* Cross sign on top right corner of element */

.individual-image-container > span{
    text-align: center;
    padding: 0 4px;
    background-color: #ededed;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.individual-image-container{
    @apply relative border border-black w-[150px] h-[150px] cursor-context-menu
}

.image-preview-container{
    @apply mt-4 flex flex-wrap gap-2 
}

