@tailwind base;
@tailwind components;
@tailwind utilities;

.class-for-li-a {
    @apply px-4 py-2 block hover:bg-slate-600 hover:text-gray-300 font-semibold;
}
  
/* For any animation to take place only upto the width of 768px */
@media screen and (max-width: 767px){
    .side-popup-show{
        animation: side-popup-show 0.25s linear;
        animation-fill-mode: forwards;
    }
    .side-popup-hide{
        animation: side-popup-hide 0.25s linear;
        animation-fill-mode: forwards;
    }

    @keyframes side-popup-show{
        0%{
            left: -160px;
        }
        100%{
            left: 0;
        }
    }
    @keyframes side-popup-hide{
        0%{
            left: 0;
        }
        100%{
            left: -160px;
        }
    }
}

/* Cross sign on top right corner of element */
.top-right-corner-cross{
    @apply block;
}

.top-right-corner-cross::after{
    content: 'X';
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 20%;
    font-size: 1em;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}